
{% extends "algoapp/base.html" %}

{% block content %}
<script>
    $(document).ready(() => {
        /*var svg = d3.select("svg");
        var radius = 20;
        var points = getRandomPointSet(720,480,radius,5);
        drawLines(points,radius);
        drawNodes(points,radius);  */  
        //
        /*$("#newNodeSet").on('click',(e) => {
            console.log("add circle!");
            var n = Math.max(Math.floor(Math.random() * 10),5);
            var verts = getRandomPointSet(720,480,radius,n);
            drawLines(verts,radius);
            drawNodes(verts,radius); */
    });
    //draw a rectangle
    //var height = 720;
    //var width = 720;
    //radius = 20;//
    //n = 8
    //points = getRandomPointSet(width,height,radius,n);//points have radius*2 width
    //draw a random set of points on the canvas
    //need to draw points
    //draw a random set of points 
    
    //perform quickhull algorithm
    
    //features
    //one click run through
    //step by step runthrough
    //restart to beginning
    //refresh new set of points
    
</script>
<div class="row">
    <svg width = "720" height="480">
        <path fill="none" stroke="black"></path>
        <circle stroke="black" cx="0" cy="0" r="0"></circle>
    </svg>
</div>
<div class="row">
    <button id="newNodeSet" class="btn bg-dark btn-secondary" type="button" >
        New Set!
    </button>
</div>
{% endblock %}
     