
{% extends "algoapp/base.html" %}

{% block content %}
<script>
    $(document).ready(() => {
        $("#runFullAlgo").on("click",() => {
            //need to access and store data of the current points
            var data = d3.select("svg").selectAll("circle").data();
            console.log(data);
            quickhull(data,0,data.length - 1);
        });
    });
    //draw a rectangle
    //var height = 720;
    //var width = 720;
    //radius = 20;//
    //n = 8
    //points = getRandomPointSet(width,height,radius,n);//points have radius*2 width
    //draw a random set of points on the canvas
    //need to draw points
    //draw a random set of points 
    
    //perform quickhull algorithm
    
    //features
    //one click run through
    //step by step runthrough
    //restart to beginning
    //refresh new set of points
    
</script>
<div class="row">
    <svg width = "720" height="480">
        <path fill="none" stroke="black"></path>
        <circle stroke="black" cx="0" cy="0" r="0"></circle>
    </svg>
</div>
<div class="row justify-content-center">
    <div class="btn-group" role="group">
        <button id="newNodeSet" class="btn bg-dark btn-secondary" type="button" >
            New Set!
        </button>
        <button id="runFullAlgo" class="btn bg-dark btn-secondary" type="button">
            Run
        </button>
    </div>
    
</div>
{% endblock %}
     